.DS_Store
node_modules/
dist/
npm-debug.log
target/
.settings/
.classpath
.project
bin/
.metadata/*
cache/*
.idea/
*.orig
workorder-common-parent.iml
web/workorder-common-web.iml
service/workorder-common-service.iml
domain/workorder-common-domain.iml
common/workorder-common-common.iml
dao/workorder-common-dao.iml
workorder-backend/workorder-backend.iml
workorder-common-common/workorder-common-common.iml
common/common.iml
web/web.iml
workorder-common.iml
*.iml

